/* Estilos generales */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

/* Estilos del encabezado */
header {
  background-color: #0000008f;
  padding: 20px;
  text-align: center;
}

.logo img {
  width: 150px;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.nav-links li {
  display: inline-block;
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
}

.hero {
  margin-top: 50px;
  color: #fff;
  text-align: center;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 24px;
  margin-bottom: 30px;
}

.cta-btn {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 4px;
}

/* Estilos de la sección de productos destacados */
.featured-products {
  padding: 50px 0;
  text-align: center;
}

.section-title {
  font-size: 32px;
  margin-bottom: 40px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  justify-items: center;
}

.product-card {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
}

.product-card img {
  width: 100%;
  margin-bottom: 20px;
}

.product-info h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-info p {
  font-size: 18px;
  margin-bottom: 20px;
}

.buy-btn {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 4px;
}

/* Estilos de la sección de cómo nos diferenciamos */
.our-difference {
  background-color: #f5f5f5;
  padding: 50px 0;
  text-align: center;
}

.difference-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  justify-items: center;
}

.difference-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
}

.difference-card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.difference-card-header img {
  width: 50px;
  margin-right: 10px;
}

.difference-subtitle {
  font-size: 24px;
  margin-bottom: 0;
}

.difference-text {
  font-size: 18px;
  margin-bottom: 20px;
}

/* Estilos de la sección de testimonios */
.testimonials {
  padding: 50px 0;
  text-align: center;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  justify-items: center;
}

.testimonial-card {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
}

.testimonial-text {
  font-size: 18px;
  margin-bottom: 10px;
}

.testimonial-author {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: bold;
}

.testimonial-location {
  font-size: 14px;
  margin-bottom: 0;
}

/* Estilos del pie de página */
footer {
  background-color: #aaff5b;
  padding: 20px;
  text-align: center;
}

footer p {
  color: #323232;
  font-size: 14px;
  margin: 0;
}

/* Contacto */

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f1f8f5;
}

.register-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #3e755f;
}

.custom-form {
  width: 60%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
}

.custom-form .input-field {
  margin-bottom: 20px;
}

.custom-form label {
  display: block;
  margin-bottom: 5px;
  color: #333333;
}

.custom-form input[type="text"],
.custom-form input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

.custom-form input[type="submit"] {
  background-color: #3e755f;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.custom-form input[type="submit"]:hover {
  background-color: #29704a;
}

/* about-us */

.card-about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.about-us {
  background-color: #e6f2e0;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.about-us h2 {
  color: #3e755f;
  font-size: 24px;
}

.about-us p {
  color: #333333;
  margin-bottom: 10px;
}
